<div class="bbm-modal__topbar">
	<h3 class="bbm-modal__title">Embed Card</h3>
</div>
<div class="bbm-modal__section">
	
	<div>Include the following anywhere on your page</div>
	<button class="btn copy" data-clipboard-target=".embed-body"><span class="fa fa-clipboard"></span></button>
	<pre><code class="html embed-body">
&lt;div style="min-height: <%= data.chartType === 'callout' ? '170px' : '230px' %>"&gt;
  &lt;script class="vizwit" type="application/json"&gt;
<%= JSON.stringify(data, null, 2) %>
  &lt;/script&gt;
&lt;/div&gt;
	</code></pre>
				
	<div>Include the following in your <code>&lt;head&gt;</code> tag</div>
	<button class="btn copy" data-clipboard-target=".embed-head"><span class="fa fa-clipboard"></span></button>
	<pre><code class="html embed-head">
&lt;script src="http://vizw.it/scripts/vizwit-embed.js"&gt;&lt;/script&gt;
	</code></pre>
</div>
<div class="bbm-modal__bottombar">
	<button class="btn cancel">Close</button>
</div>
