Filters:
<% data.forEach(function(filter) { %>
	<div class="filter">
		<% if(Array.isArray(filter.expression[0])) { %>
			<span class="filter-field"><%= filter.expression[0][0] %></span>
			<span class="filter-operator"><%= filter.expression[0][1] %></span>
			<span class="filter-value"><%= filter.expression[0][2] %></span>
			<span class="filter-type"><%= filter.expression[1] %></span>
			<span class="filter-operator"><%= filter.expression[2][1] %></span>
			<span class="filter-value"><%= filter.expression[2][2] %></span>
		<% } else { %>
			<span class="filter-field"><%= filter.expression[0] %></span>
			<span class="filter-operator"><%= filter.expression[1] %></span>
			<span class="filter-value"><%= filter.expression[2] %></span>
		<% } %>
		<a href="#" data-filter="<%= filter.field %>" class="remove-filter"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
<% }) %>