<div class="row">
	<div class="col-md-7">
		
		<h1 class="title"><%= data.title %></h1>
		
		<% if(data.description) { %>
		<p class="description"><%= data.description %></p>
		<% } %>
			
	</div>
	<div class="col-md-5">
		
		<div class="btn-group pull-right navigation" role="group" aria-label="Pages">
			
			<a href="http://vizwit.io" class="btn btn-default"><span class="fa fa-home"></span></a>
			<a href="http://form.jotform.us/form/52708408087157?thePage=<%= encodeURIComponent(window.location.search.substr(1)) %>" class="btn btn-default">Feedback</a>
			
			<% if(data.navigation && data.navigation.length) { %>
				<% data.navigation.forEach(function(nav) { %>
				<a href="<%= nav.url %>" class="btn btn-default"><%= nav.label %></a>
				<% }) %>
			<% } %>
		</div>
			
	</div>
</div>