<div class="row">
	<div class="col-md-9">
		
		<h1 class="title"><%= data.title %></h1>
		
		<% if(data.description) { %>
		<p class="description"><%= data.description %></p>
		<% } %>
			
	</div>
	<div class="col-md-3">
		
		<div class="btn-group pull-right navigation" role="group" aria-label="Pages">
			
			
			<% if(data.navigation && data.navigation.length) { %>
			<strong>Quick links</strong><ul>
				<% data.navigation.forEach(function(nav) { %>
				<li><a href="<%= nav.url %>" target="blank"><%= nav.label %></a></li>
				<% }) %>
			</ul>
			<% } %>

			<!-- <a href="http://vizwit.io" class="btn btn-default"><span class="fa fa-home"></span></a> -->
			<!-- <a href="http://form.jotform.us/form/52708408087157?thePage=<%= encodeURIComponent(window.location.search.substr(1)) %>" class="btn btn-default">Feedback</a> -->
			<div class="well">This page was built with <a target="blank" href="http://vizwit.io">VizWit</a>, an interactive data visualization tool, by <a target="blank" href="http://timwis.com/">Tim Wisniewski</a>, the Chief Data Officer for the City of Philadelphia. VizWit uses open source technology and Socrata Open Data APIs to do awesome things.</div>

		</div>
			
	</div>
</div>