<div class="row">
	<div class="col-md-9">
		
		<h1 class="title"><%= data.title %></h1>
		
		<% if(data.description) { %>
		<p class="description"><%= data.description %></p>
		<% } %>
			
	</div>
	<div class="col-md-3">
		
		<div class="btn-group pull-right navigation" role="group" aria-label="Pages">
			
			<% if(data.navigation && data.navigation.length) { %>
			<strong>Quick links</strong><ul>
				<% data.navigation.forEach(function(nav) { %>
				<li><a href="<%= nav.url %>" target="blank"><%= nav.label %></a></li>
				<% }) %>
			</ul>
			<% } %>

		</div>
			
	</div>
</div>