<div class="row">
	<div class="col-xs-3">
		<div class="callout-icon">
			<span class="<%= data.config.icon %>" aria-hidden="true"></span>
		</div>
	</div>
	<div class="col-xs-9">
		<% if(data.filteredValue !== undefined) { %>
		<div class="callout-filtered-value"><%= (+data.filteredValue).toLocaleString() %></div>
		<div class="callout-original-value">Filtered from <%= (+data.value).toLocaleString() %></div>
		<% } else { %>
		<div class="callout-value"><%= (+data.value).toLocaleString() %></div>
		<% } %>
	</div>
</div>