<div class="panel panel-default">
	<% if(data.title) { %>
	<div class="panel-heading">
		<%= data.title %>
		
		<div class="pull-right">
			<a href="?page=<%= encodeURIComponent(data.page) %>&viz=<%= encodeURIComponent(data.title) %>" target="_blank">
				<span class="glyphicon glyphicon-new-window"></span>
			</a>
		</div>
	</div>
	<% } %>
		
	<% if(data.padded) { %>
	<div class="panel-body">
	<% } %>
		
		<% if(data.chartType === 'table') { %>
		<table class="viz table table-striped"></table>
		<% } else { %>
		<div class="viz"></div>
		<% } %>
		
		<div class="scroll">
			<a href="#" data-dir="decrease">&lt;</a>
			<a href="#" data-dir="increase">&gt;</a>
		</div>
		
		<div class="filters-container alert alert-info">
			Filters: <span class="filters"></span>
		</div>
	
	<% if(data.padded) { %>
	</div>
	<% } %>
</div>