<div class="panel panel-default">
	<% if(data.title) { %>
	<div class="panel-heading">
		<%= data.title %>
		
		<div class="pull-right">
			
			<a href="?<% if(data.gist) { %>gist=<%= encodeURIComponent(data.gist) %>&<% } %>viz=<%= encodeURIComponent(data.title) %>" target="_blank" class="btn btn-default">
				<span class="glyphicon glyphicon-new-window"></span>
			</a>
		
			<div class="btn-group scroll hidden" role="group" aria-label="Scroll chart horizontally">
				<a href="#" class="btn btn-default" data-dir="decrease"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a href="#" class="btn btn-default" data-dir="increase"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		
		</div>
	</div>
	<% } %>
	
	<% if(data.description) { %>
	<div class="panel-body">
		<%= data.description %>
	</div>
	<% } %>
		
	<% if(data.padded) { %>
	<div class="panel-body">
	<% } %>
		
		<% if(data.chartType === 'table') { %>
		<table class="viz table table-striped"></table>
		<% } else { %>
		<div class="viz"></div>
		<% } %>
	
	<% if(data.padded) { %>
	</div>
	<% } %>
	
	<% if(data.link !== undefined) { %>
	<a href="<%= data.link.url %>">
		<div class="panel-footer">
			<span class="pull-left"><%= data.link.label || 'View Details' %></span>
			<span class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></span>
			<div class="clearfix"></div>
		</div>
	</a>
	<% } %>
	
	<div class="filters panel-footer"></div>
	
</div>