<div class="card">
	<% if(data.title) { %>
	<div class="card-heading">		
		<div class="dropdown pull-left card-title">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<%= data.title %>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="?<% if(data.gist) { %>gist=<%= encodeURIComponent(data.gist) %>&<% } %>viz=<%= encodeURIComponent(data.title) %>" target="_blank">
						<span class="glyphicon glyphicon-new-window"></span> Full Screen
					</a>
				</li>
				<li>
					<a href="#" class="export-link"><span class="glyphicon glyphicon-download-alt"></span> Export (CSV)</a>
				</li>
			</ul>
		</div>
		
		<div class="pull-right">
			<div class="btn-group scroll hidden" role="group" aria-label="Scroll chart horizontally">
				<a href="#" class="btn btn-default" data-dir="decrease"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a href="#" class="btn btn-default" data-dir="increase"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
		
		<div class="clearfix"></div>
	</div>
	<% } %>
	
	<% if(data.description) { %>
	<div class="card-body">
		<p><%= data.description %></p>
	</div>
	<% } %>
		
	<% if(data.padded) { %>
	<div class="card-body">
	<% } %>
		
		<% if(data.chartType === 'table') { %>
		<table class="viz table table-striped"></table>
		<% } else { %>
		<div class="viz"></div>
		<% } %>
	
	<% if(data.padded) { %>
	</div>
	<% } %>
	
	<div class="filters card-footer"></div>
	
</div>