html, body, .row {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('https://raw.githubusercontent.com/nathancahill/Split.js/master/grips/vertical.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('https://raw.githubusercontent.com/nathancahill/Split.js/master/grips/horizontal.png');
  cursor: ns-resize;
}

.split {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.split, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}