@import '../node_modules/leaflet/dist/leaflet.css';

.card {
	width: 100%;
	min-height: 350px;
}

/*.scroll-y {
	overflow-x: scroll;
}*/

.card.table {
	font-size: 13px;
	white-space: nowrap;
}

.ct-label {
	font-size: 1rem;
}

.info {
	background: white;
}