.card {
	width: 100%;
	min-height: 350px;
}

.scroll-x {
	overflow-x: scroll;
}

.card.table {
	font-size: 13px;
	/*white-space: nowrap;*/
	word-wrap: break-word;
	word-break: keep-all;
}

.ct-label {
	font-size: 1rem;
}

.info {
	background: white;
}